/* ---------------------- IMPORTACIÓN DE FUENTES ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* ---------------------- RESETEO ---------------------- */
* {
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------- VARIABLES ---------------------- */
:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-neue: "Comic Neue", cursive;
    --font-rancho: "Rancho", cursive;
    --font-baloo: "Baloo Tamma 2", system-ui;
    --font-sriracha: "Sriracha", cursive;
    --font-mali: "Mali", cursive;
    --font-handlee: "Handlee", cursive;
    --font-imperial: "Imperial Script", cursive;
    --font-leckerli: "Leckerli One", cursive;
    --font-estrella: "Twinkle Star", cursive;
    --font-italiano: "Italianno", cursive;

    --color-body: #000;
    --color-titulo-music: #202020;
    --color-icons: #fff;

    --color-nav: #1f1f1f;
    --color-font-nav: #fff;

    --color-titles: #fff;
    --color-subtitles: #fff;
    --color-parrafos: #fff;
    --color-fuente-botones: #1a1a1a;

    --color-numeros-temporizador: #000;
    --color-bordes-temporizador: #000;

    --color--titulos-fotos: #fff;
    --color--subtitulos-fotos: #fff;

    --color-fondo-tituloPrincipal: #151515;
    --color-tituloPrincipal: #fff;
    --fondo-itinerario: #b6b6b6;
    --titulo-itinerario: #000;
    --hora-itinerario: #050505;
    --fondo-barra-progreso: #676767;
    --avance-barra-progreso: #0f0f0f;

    --color-Alias-BCbu-title: #000;
    --color-fondo-bancarios: #dfdfdf;
    --font-titulo-bancarios: #000;
    --color-boton-bancarios: #1d1d1d;
    --color-font-botones: #fff;
    --color-font-bancarios: #000;

    --color-inputRadio-confirmacion: #000;
    --color-frase-final: #000;

    --color-footer: #959595;
    --color-info: #000;
    --color-letra-web: #c5c5c5;

    --color-botones: linear-gradient(to bottom, #b8b8b8 0%, #dbdbdb 50%, #bababa 51%, #bdbdbd 100%);
    --color-divs: linear-gradient(90deg, #121212 0%, #121212 1%, #464646 3%, rgba(18,18,18,0.71) 12%, #121212 34%, rgba(33,33,33,0.95) 49%, #121212 62%, rgba(18,18,18,0.7) 82%, #464646 96%, #121212 99%, #121212 100%);
}

/* ---------------------- FUENTE PERSONALIZADA ---------------------- */
@font-face {
    font-family: "chanchi";
    src: url("../font/honilad script demo.otf");
}

/* ---------------------- BOTONES ---------------------- */
.boton__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-botones);
    color: var(--color-fuente-botones);
    font-family: var(--font-montserrat);
    margin: 0 auto;
    border-radius: 1em;
    font-size: 1rem;
    width: clamp(50px, 75%, 350px);
    padding: .5em 1em;
    font-weight: 700;
    border: 2px inset #fff;
    cursor: pointer;
}

/* ---------------------- TEXTOS GENERALES ---------------------- */
.title {
    font-family: var(--font-imperial);
    font-size: 2rem;
    color: var(--color-titles);
    text-align: center;
}

.subtitle {
    font-family: var(--font-italiano);
    font-size: 2rem;
    text-align: center;
}

.parrafo {
    color: var(--color-parrafos);
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-montserrat);
    font-weight: 800;
}

/* ---------------------- CONTENEDOR ---------------------- */
.contenedor {
    background: var(--color-divs);
    width: clamp(100px, 90%, 700px);
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 1px 1px 3px #0000009b;
}

.img__separador {
    display: flex;
    width: clamp(100px, 90%, 350px);
    margin: 2em auto;
}

/* ---------------------- BODY ---------------------- */
body, html {
    overflow-x: hidden;
}

body {
    background: var(--color-body);
    font-family: var(--font-baloo);
}

/* ---------------------- HEADER ---------------------- */
header {
    width: 100%;
    min-height: 600px;
    position: relative;
    background-image: linear-gradient(to top, rgba(0,0,0,0.129), rgba(255,255,255,0.055)), url("../assets/imagenes/fondo.webp");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    mask-image: linear-gradient(black 90%, transparent);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* ---------------------- NAV ---------------------- */
.nav {
    --state-open: scale(1);
    --state-close: scale(0);
    --state-menu: translate(100%);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 1.5em;
}

.nav:target {
    --state-open: scale(0);
    --state-close: scale(1);
    --state-menu: translate(0);
}

.nav__open, .nav__close {
    transition: transform 300ms ease;
    stroke: var(--color-icons);
    stroke-width: 2;
    fill: none;
}

.nav__open {
    position: absolute;
    width: 40px;
    transform: var(--state-open);
}

.nav__close {
    width: 40px;
    transform: var(--state-close);
}

.nav__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--color-nav);
    padding: 0;
    width: 60%;
    height: 400px;
    transform: var(--state-menu);
    right: 0;
    top: 4em;
    transition: transform 300ms ease;
    border-radius: 1em;
    z-index: 100;
}

.nav__link {
    font-family: var(--font-neue);
    font-weight: 900;
    color: var(--color-font-nav);
}

/* ---------------------- MÚSICA ---------------------- */

.music {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 8em;
    margin: auto;
}

.music__title {
    font-family: var(--font-italiano);
    font-size: 2rem;
    color: var(--color-titulo-music);
    text-shadow: 0 0 5px #fff;
}

/* ---------------------- WAVES ---------------------- */
.waves .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background-image: url("../assets/vectores/wave.svg");
    background-size: 1010px 100px;
}

.waves .wave.wave1 {
    animation: move 3s linear infinite;
}

.waves .wave.wave2 {
    animation: move2 7s linear infinite;
    opacity: .7;
}

.waves .wave.wave3 {
    animation: move3 5s linear infinite;
    opacity: .4;
}

@keyframes move {
    from { background-position-x: 0; }
    to { background-position-x: 1000px; }
}

@keyframes move2 {
    from { background-position-x: 0; }
    to { background-position-x: -1000px; }
}

@keyframes move3 {
    from { background-position-x: 0; }
    to { background-position-x: -1000px; }
}

/* ---------------------- VIDEO DE FONDO ---------------------- */
.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* ---------------------- NOMBRE ---------------------- */
.name__img {
    display: flex;
    width: clamp(100px, 100%, 450px);
    margin: 0 auto;
}

/* ---------------------- TEMPORIZADOR ---------------------- */
.temporizador {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em auto;
    width: clamp(100px, 90%, 600px);
}

.title--tempo {
    font-family: var(--font-italiano);
    font-size: 2rem;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timer-value {
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    color: var(--color-numeros-temporizador);
    background: #fff;
    border: 1px solid var(--color-bordes-temporizador);
    width: 45px;
    padding: 8px;
    border-radius: .3em;
}

/* ---------------------- FRASE ---------------------- */
.frase__paragraph {
    text-align: center;
    font-family: var(--font-imperial);
    color: var(--color-parrafos);
    padding: 2em;
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 800;
}

/* ---------------------- DONDE ---------------------- */
.donde__container {
    width: clamp(100px, 90%, 850px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.parteuno, .partedos {
    flex: 1;
    min-width: 200px;
    padding: 1em;
    text-align: center;
}

/* ---------------------- FOTOS / SWIPER ---------------------- */
.swiper {
    width: 310px;
    height: 390px;
    margin-bottom: 8em;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.swiper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------- FANCYBOX ---------------------- */
.fancybox-slide,
.fancybox-content {
    background-color: transparent !important;
}

/* ---------------------- ITINERARIO ---------------------- */
.itinerario {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
}

.itinerario__aviso {
    padding: .5em 1em;
    border-radius: .5em;
    width: clamp(100px, 75%, 400px);
    margin: 1em auto;
    text-align: center;
    color: var(--color-tituloPrincipal);
    background: var(--color-fondo-tituloPrincipal);
    font-family: var(--font-imperial);
    font-size: 1.8rem;
}

.line {
    width: 3px;
    height: 90%;
    background: var(--titulo-itinerario);
    position: absolute;
    left: 50%;
    top: 5%;
}

/* ---------------------- FIN ---------------------- */
